version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:5.6

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mysql:9.4

    working_directory: ~/repo

    steps:
      - checkout

      - run: composer install -n --prefer-dist

      # run tests!
      - run: ./vendor/bin/phpunit
